:root {
    --primary_bg_color: #1C1E53;
    --secondary_bg_color: #F4F6FC;
    /* --tertiary_bg_color: #F4F6FC; */
    --white_bg_color: #ffffff;
    --button_bg_color: #FCD980;

    --light_text_color: #ffffff;
    --dark_text_color: #282938;
    --button_text_color: #1B1C2B;
    --icon_color: #2405F2;

    --summary_text_color: #282938;
    --summary_font_size: 16px;
    --summary_font_weight: 400;
    --summary_line_hight: 28px;

    --heading_font_size: 54px;
    --heading_font_weight: 600;
    --headimg_line_hight: 76px;

    --title_font_size: 48px;
    --title_font_weight: 600;
    --title_line_hight: 64px;

    --sub_title_font_size: 32px;
    --sub_title_font_weight: 500;
    --sub_title_line_hight: 48px;
}

/****************** blogPage part **********************/
#blogPage{
    padding: 128px 0;
    background-color: var(--white_bg_color)
}

.blogPageTop__titel{
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    line-height: var(--title_line_hight);
    color: var(--dark_text_color);
    margin-bottom: 16px;
    max-width: 949px;
}
.blogPageTop__date{
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_text_color);
    margin-bottom: 32px;
}
.cardDetails__summary{
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--summary_text_color);
    max-width: 831px;
    text-align: center;
    margin-top: 48px;
}
.cardDetails__link{
    color: var(--icon_color);
    margin-top: 16px;
}
/****************** blogPag part **********************/
/****************** ourBlog Page **********************/
#ourBlog{
    padding-bottom: 128px;
    background-color: var(--white_bg_color);
}
.blog{
    margin-bottom: 30px;
}
.ourBlog__title{
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    color: var(--dark_text_color);
    margin-bottom: 48px;
}
.ourBlogAllI--item{
    margin-top: 64px;
}
/****************** ourBlog Page **********************/