:root {
    --primary_bg_color: #1C1E53;
    --secondary_bg_color: #F4F6FC;
    /* --tertiary_bg_color: #F4F6FC; */
    --white_bg_color: #ffffff;
    --button_bg_color: #FCD980;

    --light_text_color: #ffffff;
    --dark_text_color: #282938;
    --button_text_color: #1B1C2B;
    --icon_color: #2405F2;

    --summary_text_color: #282938;
    --summary_font_size: 16px;
    --summary_font_weight: 400;
    --summary_line_hight: 28px;

    --heading_font_size: 54px;
    --heading_font_weight: 600;
    --headimg_line_hight: 76px;

    --title_font_size: 48px;
    --title_font_weight: 600;
    --title_line_hight: 64px;

    --sub_title_font_size: 32px;
    --sub_title_font_weight: 500;
    --sub_title_line_hight: 48px;
}
.formArea{
    padding: 128px;
}
.formAreaHeading{
    margin-bottom: 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formAreaHeading__title{
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    color: var(--dark_text_color);
}
.formAreaHeading__summary{
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    color: var(--summary_text_color);
    margin-top: 16px;
    max-width: 562px;
}
.formBg{
    padding: 55px 77px 69px 77px;
    background-color: var(--secondary_bg_color);
    align-items: flex-start;
}
.formItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.formItem label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
}
.formItem input {
    padding: 18px 0 18px 32px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #00000020;
}
.formItem textarea {
    padding: 18px 0 18px 32px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #00000020;
}
.formItem textarea::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.formItem input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.formButton{
    padding: 16px 64px;
    background-color: #282938;
    color: var(--light_text_color);
    border-radius: 41px;
    border: none;
    display: inline-block;
    /* max-width: 300px; */

}