/******** google font **********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/******** google font **********/

:root {
    --primary_bg_color: #1C1E53;
    --secondary_bg_color: #F4F6FC;
    /* --tertiary_bg_color: #F4F6FC; */
    --white_bg_color: #ffffff;
    --button_bg_color: #FCD980;

    --light_text_color: #ffffff;
    --dark_text_color: #282938;
    --button_text_color: #1B1C2B;
    --icon_color: #2405F2;

    --summary_text_color: #282938;
    --summary_font_size: 16px;
    --summary_font_weight: 400;
    --summary_line_hight: 28px;

    --heading_font_size: 54px;
    --heading_font_weight: 600;
    --headimg_line_hight: 76px;

    --title_font_size: 48px;
    --title_font_weight: 600;
    --title_line_hight: 64px;

    --sub_title_font_size: 32px;
    --sub_title_font_weight: 500;
    --sub_title_line_hight: 48px;
}

/********** common css *************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

ol,
ul,
li {
    list-style: none;
    display: inline-block;
}

a,
input,
label,
button {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
section,
a,
p {
    margin: 0;
    padding: 0;
}

/********** common css *************/

body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/****************** navber part **********************/
.customNav {
    background-color: var(--primary_bg_color);
    padding: 16px 0;
}

.customNavItem {
    margin-right: 32px;
}

.customNavItem a {
    color: #BBBBCB;
}

.customNavItem a:hover {
    color: var(--light_text_color);
}

.customNavItem__btn {
    padding: 16px 40px;
    font-size: var(--summary_font_size);
    font-weight: 500;
    background-color: transparent;
    color: var(--light_text_color);
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    transition: all ease-in-out .3s;
}

.customNavItem__btn:hover {
    background-color: var(--button_bg_color);
    color: var(--dark_text_color);
}

/****************** navber part **********************/
/****************** banner part **********************/
.bannerPart {
    background-color: var(--primary_bg_color);
    padding: 125px 0;
}

.bannerLeft {
    row-gap: 24px;
}

.bannerLeft__title {
    font-size: var(--heading_font_size);
    font-weight: var(--heading_font_weight);
    line-height: var(--headimg_line_hight);
    color: var(--light_text_color);
}

.bannerLeft__summary {
    font-size: var(--summary_font_size);
    color: var(--light_text_color);
    font-weight: 500;
    margin-bottom: 24px;
    opacity: .7;
}

.buttonLeft--modifier {
    background-color: var(--button_bg_color);
    color: var(--dark_text_color);
}

.buttonLeft--modifier:hover {
    background-color: transparent;
    color: var(--light_text_color);
}

.buttonRight--modifier {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.buttonRight--modifier:hover {
    background: none;
    color: var(--light_text_color);
}

.buttonRight--modifier i {
    margin-left: 10px;
}

/****************** banner part **********************/
/****************** work part **********************/
#workPart {
    padding: 128px 0;
    background-color: var(--secondary_bg_color);
}

.workLeft {
    row-gap: 13px;
}

.workLeft__title {
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    line-height: var(--title_line_hight);
}

.workLeft__summary {
    font-size: var(--summary_font_size);
    color: var(--summary_text_color);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    padding-right: 50px;
}

.workLeft__link {
    font-size: 18px;
    font-weight: 500;
    color: var(--icon_color);
}

.workLeft__link i {
    margin-left: 10px;
}

.workRightItem {
    row-gap: 8px;
}

.workRightItem__title {
    font-size: var(--sub_title_font_size);
    font-weight: var(--sub_title_font_weight);
    line-height: var(--sub_title_line_hight);
    margin-top: 8px;
    color: var(--dark_text_color);
}

.workRightItem__summary {
    font-size: var(--summary_font_size);
    color: var(--summary_text_color);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
}

/****************** work part **********************/
/****************** project part **********************/
#projectPart {
    padding: 128px 0;
    background-color: var(--white_bg_color);
}

.projectTop{
    margin-bottom: 64px;
}
.projectTop__title{
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    color: var(--dark_text_color);
}
.projectTop__link{
    font-size: 16px;
    color: var(--dark_text_color);
}
.projectLeft {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.overlay {
    position: absolute;
    background-image: linear-gradient( -30deg, #1C1E53, #1C1E536B);
    height: 100%;
    width: 47%;
    top: 0;
    left: -47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 35px 76px 48px;
    row-gap: 16px;
    opacity: 0;
    transition: all ease-in .5s;
}
.overlay--right{
    width: 100%;
    left: 0;
    padding-bottom: 45px;
}
.projectLeft:hover .overlay{
    opacity: 1;
    left: 0;
}

.overlay__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--light_text_color);
}
.project--link{
    color: var(--button_bg_color);
    font-size: 16px;
}
.project--link:hover{
    color: var(--light_text_color);
}

.overlay__summary {
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--light_text_color);
    margin-bottom: 24px;

}

/****************** project part **********************/
/****************** peatures part **********************/
#peaturesPart {
    padding: 128px 0;
    background-color: var(--secondary_bg_color);
}
.peatureTop__subTitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark_text_color);
}
.peatureTop__title {
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    line-height: var(--title_line_hight);
    color: var(--dark_text_color);
}
.peatureTop {
    row-gap: 15px;
}
.peatureBottom {
    margin-top: 44px;
}
.peatureBottomItem {
    row-gap: 12px;
    padding: 48px 32px 48px 48px;
    background-color: var(--white_bg_color);
    height: 100%;
}
.peatureBottomItem__title {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark_text_color);
    margin-top: 10px;
}
.peatureBottomItem__summary {
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--summary_text_color);
}
/****************** peatures part **********************/

/****************** review part **********************/
#reviewPart {
    padding: 128px;
    background-color: #f4f6fc7d;
}
.reviewLeft {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.reviewLeft h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--dark_text_color);
}

.reviewLeft p {
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--summary_text_color);
}

.reviewRight {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.reviewRight h3 {
    font-size: var(--sub_title_font_size);
    font-weight: var(--sub_title_font_weight);
    line-height: var(--sub_title_line_hight);
    color: var(--dark_text_color);
}

.reviewRight__profile {
    display: flex;
    column-gap: 14px;
}

.reviewRight__profile__details h5 {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark_text_color);
    /* line-height: 32px; */
}

.reviewRight__profile__details h6 {
    font-size: 12px;
    font-weight: 500;
    color: var(--dark_text_color);
    line-height: 28px;
}

/****************** review part **********************/
/****************** faq part **********************/
#faqPart{
    padding: 128px 0;
    background-color: var(--white_bg_color);
}

.faqLeft__title{
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: var(--dark_text_color);
    padding-right: 90px;
    margin-bottom: 16px;
}
.faqLeft__link{
    font-size: 18px;
    font-weight: 500;
    color: var(--icon_color);
}
.count{
    padding-right: 50px;
    color: var(--icon_color);
    font-size: 24px;
    font-weight: 500;
}
.question__title{
    font-size: 24px;
    vertical-align: middle;
}
.question__summary{
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--summary_text_color);
    padding-left: 100px;
    padding-right: 200px;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("https://icons.iconarchive.com/icons/fa-team/fontawesome/512/FontAwesome-Xmark-icon.png");
    transform: rotate(-90deg);
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("https://www.iconarchive.com/download/i112819/fa-team/fontawesome/FontAwesome-Plus.1024.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
/****************** faq part **********************/
/****************** contact part **********************/
.contactLeft{
    position: relative;
    height: 100%;
    width: 100%;
}
.contactLeft img{
    height: 100%;
    width: 100%;
}
.contactLeftOverlay{
    position: absolute;
    top: 0;
    left: 0;
    padding: 96px 96px 0 96px;
    background-color: rgba(28, 30, 83, 0.5);
    height: 100%;
    width: 100%;
}
.contactLeftOverlay__title{
    font-size: var(--heading_font_size);
    font-weight: var(--heading_font_weight);
    line-height: 74px;
    color: var(--light_text_color);
}
.contactLeftOverlay__summary{
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--light_text_color);
    margin-top: 24px;
}
.contactRight{
    height: 100%;
    padding: 96px 96px 48px 96px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: var(--primary_bg_color);
}
.contactRight__title{
    font-size: var(--sub_title_font_size);
    font-weight: var(--sub_title_font_weight);
    color: var(--light_text_color);
}
.contactRight__summary{
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--light_text_color);
    margin-bottom: 24px;
}
.contactRight input{
    padding: 18px 0 18px 32px;
    color: #F4F6FC;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
}
.contactRight input::placeholder{
    color: #f4f6fc82;
}
.contactRight__button{
    width: 100%;
    padding: 16px 0;
    border-radius: 40px;
    border: none;
    background-color: var(--button_bg_color);
    margin-top: 23px;
}
.contactRight__link{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--light_text_color);
    margin-top: 12px;
}
.contactRight__link i{
    margin-left: 10px;
}
/****************** contact part **********************/
/****************** blog part **********************/
#blogPart{
    padding: 128px 0;
    background-color: var(--white_bg_color);
}
.blogTop__title{
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    color: var(--dark_text_color);
    margin-bottom: 64px;
}
.blog{
    border: none;
}
.blog__details{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 40px;
}
.blog__details__title{
    font-size: 24px;
    font-weight: 500;
    color: var(--dark_text_color);
}
.blog__details__link{
    margin-top: 16px;
    color: var(--dark_text_color);
}
/****************** blog part **********************/
/****************** footer part **********************/
#footerPart{
    padding-top: 96px;
    background-color: var(--primary_bg_color);
}
.footerLeft__summary{
    padding-right: 250px;
    margin-top: 22px;
    color: var(--light_text_color);

}
.footerLeft__contact{
    padding: 17px 0 17px 37px ;
    background-color: var(--button_bg_color);
    margin-top: 86px;
}
.footerRight{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.footerRight__title{
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    color: var(--light_text_color);
}
.footerRight__summary{
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    margin-bottom: 14px;
    padding-right: 230px;
    color: var(--light_text_color);
}
.footerRight__icons{
    color: var(--light_text_color);
}
.footerLeft__contact__name{
    font-size: 18px;
    font-weight: 500;
}
.footerLeft__contact__email{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
.footerBottom{
    padding: 32px 0;
    background-color: #ffffff;
}
.footerBottom__details a{
    color: var(--dark_text_color);
    font-weight: 500;
}
.footerBottom__details p{
    font-weight: 500;
    font-size: 16px;
    color: var(--dark_text_color);
}
.buttom-menu{
    row-gap: 5px; 
    column-gap: 30px;
}
/****************** footer part **********************/
