:root {
    --primary_bg_color: #1C1E53;
    --secondary_bg_color: #F4F6FC;
    /* --tertiary_bg_color: #F4F6FC; */
    --white_bg_color: #ffffff;
    --button_bg_color: #FCD980;

    --light_text_color: #ffffff;
    --dark_text_color: #282938;
    --button_text_color: #1B1C2B;
    --icon_color: #2405F2;

    --summary_text_color: #282938;
    --summary_font_size: 16px;
    --summary_font_weight: 400;
    --summary_line_hight: 28px;

    --heading_font_size: 54px;
    --heading_font_weight: 600;
    --headimg_line_hight: 76px;

    --title_font_size: 48px;
    --title_font_weight: 600;
    --title_line_hight: 64px;

    --sub_title_font_size: 32px;
    --sub_title_font_weight: 500;
    --sub_title_line_hight: 48px;
}

/************* work Page heading *************/
#workPageHeading{
    padding: 128px 0;
    background-color: var(--secondary_bg_color);
}
.workPageHeadingTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.workPageHeadingTop__subtitle{
    font-size: 16px;
    font-weight: 500;
    color: var(--dark_text_color);
    margin-bottom: 4px;
}
.workPageHeadingTop__title{
    font-size: var(--title_font_size);
    font-weight: var(--title_font_weight);
    color: var(--dark_text_color);
    margin-bottom: 24px;
}
.workPageHeadingTop__summary{
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--summary_text_color);
    max-width: 733px;
    margin-bottom: 32px;
}
.workPageHeadingTop__icon{
    font-size: 20px;
    color: var(--dark_text_color);
}
/************* work Page heading *************/

/************* work Page *************/
#workPage{
    padding: 96px 0 64px 0;
    background-color: var(--white_bg_color);
}
.workPageMenu{
    display: flex;
    column-gap: 32px;
    justify-content: center;
    margin-bottom: 48px;
}
.workPageMenu a{
    color: #282938;
    font-size: 18px;
    font-weight: 500;
}

.workPageBottomItem{
    margin-bottom: 64px;
    overflow: hidden;
}
.workPageBottomItem__img{
    overflow: hidden;
    transition: all ease-in-out .5s;
}
.workPageBottomItem:hover .workPageBottomItem__img{
    transform: scale(1.1);
}

.workPageBottomItem__title{
    font-size: 38px;
    font-weight: 600;
    color: var(--dark_text_color);
    margin-top: 24px;
}
.workPageBottomItem__summry{
    font-size: var(--summary_font_size);
    font-weight: var(--summary_font_weight);
    line-height: var(--summary_line_hight);
    color: var(--summary_text_color);
    margin-top: 12px;
}
.workPageBottomItem__link{
    font-size: 16px;
    font-weight: 500;
    color: #282938;
    margin-top: 24px;
}
.workPageBottomItem__link i{
    margin-left: 10px;
}
/************* work Page *************/
/************* workBottom *************/
#workBottom{
    padding-bottom: 128px;
    background-color: var(--white_bg_color);
}
.workbottom{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
}
.workbottom--title{
    max-width: 730px;
}
.workbottom--summary{
    max-width: 562px;
}
.workBottom--link:hover{
    background-color: transparent;
    border: 2px solid var(--button_bg_color);
    color: var(--dark_text_color);
}
/************* workBottom *************/
