@media (max-width: 575.98px) { 
    :root {
        --primary_bg_color: #1C1E53;
        --secondary_bg_color: #F4F6FC;
        /* --tertiary_bg_color: #F4F6FC; */
        --white_bg_color: #ffffff;
        --button_bg_color: #FCD980;
    
        --light_text_color: #ffffff;
        --dark_text_color: #282938;
        --button_text_color: #1B1C2B;
        --icon_color: #2405F2;
    
        --summary_text_color: #282938;
        --summary_font_size: 14px;
        --summary_font_weight: 400;
        --summary_line_hight: 20px;
    
        --heading_font_size: 28px;
        --heading_font_weight: 600;
        --headimg_line_hight: 45px;
    
        --title_font_size: 24px;
        --title_font_weight: 600;
        --title_line_hight: 38px;
    
        --sub_title_font_size: 20px;
        --sub_title_font_weight: 500;
        --sub_title_line_hight: 48px;
    }
    
    /*************** banner ***********/
    .bannerPart {
        background-color: var(--primary_bg_color);
        padding: 50px 0;
    }
    .buttonLeft--modifier {
        padding: 15px 25px;
    }
    /*************** banner ***********/
    /*************** work ***********/
    #workPart {
        padding: 50px 0;
    }
    .workRightItem__summary {
        max-width: 300px;
    }
    .workLeft__link {
        font-size: 13px;
    }
    /*************** work ***********/
    /*************** project ***********/
    .projectTop {
        margin-bottom: 25px;
    }
    #projectPart {
        padding: 50px 0;
    }
    .overlay__title {
        font-size: 16px;
    }
    .overlay {
        left: 0;
        opacity: 1;
        row-gap: 10px;
    }
    /*************** project ***********/
    /*************** feature ***********/
    #peaturesPart {
        padding: 50px 0;
    }
    .peatureBottomItem__title {
        font-size: 20px;
    }
    /*************** feature ***********/
    /*************** review ***********/
    #reviewPart {
        padding: 50px 40px;
    }
    .reviewLeft h3 {
        font-size: 24px;
    }
    .reviewRight h3 {
        font-size: 18px;
    }
    /*************** review ***********/
    /*************** faq ***********/
    .faqLeft__title {
        font-size: 24px;
        margin-bottom: 0px;
    }
    #faqPart {
        padding: 50px 0;
    }
    .count {
        font-size: 18px;
        padding-right: 30px;
        color: var(--icon_color);
    }
    .question__summary {
        padding: 15px 25px 15px 71px;
    }
    .accordion-button {
        font-size: 16px;
    }
    .faqLeft__link {
        font-size: 14px;
        margin-bottom: 30px;
    }
    /*************** faq ***********/
    /*************** contact ***********/
    .contactLeftOverlay {
        padding: 50px 30px 0 30px;
    }
    .contactRight {
        padding: 50px 30px 30px 30px;
        display: flex;
        row-gap: 16px;
    }
    .contactRight__link {
        font-size: 14px;
    }
    .contactRight input::placeholder{
        font-size: 14px;
    }
    .contactRight__button{
        font-size: 14px;
    }
    /*************** contact ***********/
    /*************** blog ***********/
    #blogPart {
        padding: 50px 0;
    }
    .blogTop__title {
        margin-bottom: 25px;
    }
    .blog:not(:last-child) {
        margin-bottom: 40px;
    }
    .blog__details {
        row-gap: 6px;
    }
    /*************** blog ***********/
    /*************** footer ***********/
    .buttom-menu {
        row-gap: 5px;
        column-gap: 15px;
    }
    .footerBottom__details p {
        font-size: 14px;
    }
    .footerBottom__details a{
        font-size: 14px;
    }
    .footerBottom {
        padding: 20px 0;
    }
    /*************** footer ***********/





    /*============================= about page ==========================*/
    .goalAreaTop {
        padding: 50px 40px;
    }
    #solveingPart {
        padding: 50px 0;
    }
    #processPart {
        padding: 50px 0;
    }
    #missionPart {
        padding: 50px 0;
    }
    #benefitPart {
        padding: 50px 0;
    }
    .benefitBottomLogo {
        margin: 0 20px;
    }
    #team {
        padding: 50px 0;
    }
    #footerPart {
        padding-top: 50px;
    }
    .goalAreaTopItem__title {
        font-size: 24px;
    }
    /*============================= about page ==========================*/

 }