
@media (max-width: 1199.98px) { 
    :root {
        --summary_text_color: #282938;
        --summary_font_size: 16px;
        --summary_font_weight: 400;
        --summary_line_hight: 24px;
    
        --heading_font_size: 36px;
        --heading_font_weight: 600;
        --headimg_line_hight: 50px;
    
        --title_font_size: 32px;
        --title_font_weight: 600;
        --title_line_hight: 50px;
    
        --sub_title_font_size: 26px;
        --sub_title_font_weight: 500;
        --sub_title_line_hight: 48px;
    }
    /******** banner part *******/
    .bannerLeft {
        row-gap: 15px;
    }
    .customNavItem__btn {
        padding: 15px 25px;
    }
    /******** banner part *******/

    /******** work part *******/
    .workLeft{
        margin-bottom: 50px;
    }
    .workRightItem__summary {
        max-width: 400px;
    }
    .workLeft__summary {
        max-width: 500px;
    }
    .workLeft__link {
        font-size: 16px;
    }
    /******** work part *******/

    /******** peature part *******/
    .peatureTop__title {
        font-size: var(--title_font_size);
        line-height: var(--title_line_hight);
    }
    /******** peature part *******/

    /******** review part *******/
    #reviewPart {
        padding: 128px 100px;
    }
    .reviewLeft h3 {
        font-size: 26px;
    }
    .reviewRight h3 {
        font-size: 25px;
        line-height: 40px;
    }
    .reviewRight__profile {
        column-gap: 0px;
    }
    /******** review part *******/
    /******** faq part *******/
    .faqLeft__title {
        font-size: 30px;
        line-height: 48px;
        padding-right: 0px;
        margin-bottom: 16px;
    }
    .faqLeft__link {
        font-size: 16px;
    }

    .question__summary {
        padding: 16px 100px;
    }
    .accordion-button{
        font-size: 22px;
    }
    .count{
        font-size: 20px;
    }
    /******** faq part *******/
    /******** contact part *******/
    .contactLeftOverlay__title {
        font-size: var(--heading_font_size);
        font-weight: var(--heading_font_weight);
        line-height: var(--headimg_line_hight);
    }
    .contactLeftOverlay {
        padding: 60px 60px 0 60px;
    }
    .contactRight {
        padding: 64px 60px 30px 60px;
        display: flex;
        row-gap: 16px;
    }
    .contactRight__link {
        font-size: 16px;
    }
    /******** contact part *******/
    /******** blog part *******/
    .blogTop__title {
        margin-bottom: 30px;
    }
    .blog__details {
        row-gap: 16px;
        margin-top: 16px;
    }
    .blog__details__title {
        font-size: 19px;
        margin-bottom: 0;
    }
    .blog__details__link {
        margin-top: 5px;
    }
    /******** blog part *******/
    /******** footer part *******/
    .footerLeft__summary {
        padding-right: 100px;
    }
    .footerRight__summary {
        padding-right: 100px;
    }
    /******** footer part *******/

 }
