
@media (max-width: 991.98px) {
    :root {
        --primary_bg_color: #1C1E53;
        --secondary_bg_color: #F4F6FC;
        --white_bg_color: #ffffff;
        --button_bg_color: #FCD980;
    
        --light_text_color: #ffffff;
        --dark_text_color: #282938;
        --button_text_color: #1B1C2B;
    
        --summary_text_color: #282938;
        --summary_font_size: 16px;
        --summary_font_weight: 400;
        --summary_line_hight: 28px;
    
        --heading_font_size: 45px;
        --heading_font_weight: 600;
        --headimg_line_hight: 76px;
    
        --title_font_size: 38px;
        --title_font_weight: 600;
        --title_line_hight: 60px;
    
        --sub_title_font_size: 32px;
        --sub_title_font_weight: 500;
        --sub_title_line_hight: 48px;
    }

    /*********** navber part **********/
    .customToggler--button{
        align-content: center;
        border-radius: 10px;
        transition: all ease .3s;
    }
    .customToggler--button:hover{
        background-color: var(--white_bg_color);
    }
    .customToggler--button:hover .customToggler--icon{
        color: var(--dark_text_color);
    }
    .customToggler--icon{
        color: var(--light_text_color);
        align-content: center;
        transition: all ease .3s;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .custom-nab{
        margin-top: 40px;
    }
    .customNavItem{
        margin: 10px 0;
        text-align: center;
        padding: 10px 0;
        border-radius: 20px;
        border: solid 2px rgba(244, 246, 252, 0.2);
        cursor: pointer;
    }
    .customNavItem a{
        color: var(--light_text_color);
    }
    .customNavItem:hover{
        background-color: #171945;
    }
    .nav--button{
        width: 100%;
        background-color: var(--button_bg_color);
        color: var(--dark_text_color);
    }
    .customNavItem__link{
        width: 100%;
        margin-top: 30px;
    }
    .customNav {
        padding: 20px 0 20px 0;
    }
   /*********** navber part **********/

   /*********** banner part **********/
    .customNavItem__btn {
        padding: 15px 30px;
    }
    .bannerLeft {
        margin-bottom: 60px;
    }
   /*********** banner part **********/
   /*********** work part **********/
   
    .workRightItem{
        align-items: center;
        text-align: center;
    }
    .workRightItem__summary {
        max-width: 435px;
    }
   /*********** work part **********/
   /*********** project part **********/
   .projectLeft {
    margin-bottom: 30px; 
    }
    /*********** project part **********/
    /*********** review part **********/

    .reviewLeft h3 {
     font-size: 36px;
     max-width: 400px;
    }
    /*********** review part **********/
    /*********** faq part **********/
    .faqLeft__title {
        font-size: 36px;
    }
    /*********** faq part **********/
    /*********** contact part **********/
    .contactRight {
        padding: 64px 60px 40px 60px;
        display: flex;
        row-gap: 16px;
    }
    /*********** contact part **********/
    /*********** blog part **********/
    .blog:not(:last-child){
        margin-bottom: 60px;
    }
    /*********** blog part **********/
    /*********** footer part **********/
    .footerLeft__contact {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .footerRight {
        margin-bottom: 50px;
    }
    /*********** footer part **********/


    /*=============================== feature page ==================================*/
    
    /*=============================== feature page ==================================*/

    /*============================= pricing page ==========================*/
    .plans:hover {
        transform: scale(1);
    }
    .plans {
        background-color: var(--primary_bg_color);
        margin: 0 100px 30px 100px;
    }
    .plansDetailsPrice__number {
        font-size: 38px;
        color: var(--light_text_color);
    }
    .plansDetailsPrice__design {
        color: var(--button_bg_color);
    }
    .plansDetails__name {
        font-size: 18px;
        color: var(--light_text_color);
    }
    .plansDetails__summary {
        color: var(--light_text_color);
    }
    .plansItem h5 {
        font-size: 16px;
        color: var(--light_text_color);
    }
    .plansbutton {
        padding: 16px 77px;
        font-size: 18px;
        background-color: var(--button_bg_color);
        color: var(--dark_text_color);
    }
    /*============================= pricing page ==========================*/
    /*============================= work page ==========================*/
    #workPageHeading {
        padding: 90px 0;
    }
    .workbottom--title {
        margin-bottom: 0px;
    }
    .workPageHeadingTop__summary {
        margin-bottom: 15px;
    }
    #workBottom {
        padding-bottom: 90px;
    }
    /*============================= work page ==========================*/
    /*============================= read work page ==========================*/
    .readWorkPageArea {
        padding: 0 50px;
    }
    .readWorkPageAreaAbout__list li {
        margin-bottom: 5px;
    }
    .readWorkPageAreaAbout {
        padding: 50px 50px;
    }
    #readWorkPage {
        padding: 51px 0;
    }
    /*============================= read work page ==========================*/

 }