
@media (max-width: 1399.98px) { 
    :root {
        --primary_bg_color: #1C1E53;
        --secondary_bg_color: #F4F6FC;
        /* --tertiary_bg_color: #F4F6FC; */
        --white_bg_color: #ffffff;
        --button_bg_color: #FCD980;
    
        --light_text_color: #ffffff;
        --dark_text_color: #282938;
        --button_text_color: #1B1C2B;
        --icon_color: #2405F2;
    
        --summary_text_color: #282938;
        --summary_font_size: 16px;
        --summary_font_weight: 400;
        --summary_line_hight: 28px;
    
        --heading_font_size: 54px;
        --heading_font_weight: 600;
        --headimg_line_hight: 76px;
    
        --title_font_size: 48px;
        --title_font_weight: 600;
        --title_line_hight: 64px;
    
        --sub_title_font_size: 32px;
        --sub_title_font_weight: 500;
        --sub_title_line_hight: 48px;
    }  
    /*============================= feature page ==========================*/
    
    /*============================= feature page ==========================*/

}