@media (max-width: 767.98px) { 
    :root {
        --primary_bg_color: #1C1E53;
        --secondary_bg_color: #F4F6FC;
        /* --tertiary_bg_color: #F4F6FC; */
        --white_bg_color: #ffffff;
        --button_bg_color: #FCD980;
    
        --light_text_color: #ffffff;
        --dark_text_color: #282938;
        --button_text_color: #1B1C2B;
        --icon_color: #2405F2;
    
        --summary_text_color: #282938;
        --summary_font_size: 16px;
        --summary_font_weight: 400;
        --summary_line_hight: 22px;
    
        --heading_font_size: 38px;
        --heading_font_weight: 600;
        --headimg_line_hight: 62px;
    
        --title_font_size: 32px;
        --title_font_weight: 600;
        --title_line_hight: 52px;
    
        --sub_title_font_size: 24px;
        --sub_title_font_weight: 500;
        --sub_title_line_hight: 48px;
    }
   
    /*============================= pricing page ==========================*/
    /*************** plan ***********/
    #plansPart {
        padding: 90px 0;
    }
    .plans:hover {
        color: var(--light_text_color);
        transform: scale(1.03);
    }
    .plans {
        background-color: var(--primary_bg_color);
        margin: 0 20px 0px 20px;
    }
    .plansDetailsPrice__number {
        font-size: 38px;
        color: var(--light_text_color);
    }
    .plansDetailsPrice__design {
        color: var(--button_bg_color);
    }
    .plansDetails__name {
        font-size: 18px;
        color: var(--light_text_color);
    }
    .plansDetails__summary {
        color: var(--light_text_color);
    }
    .plansItem h5 {
        font-size: 16px;
        color: var(--light_text_color);
    }
    .plansbutton {
        padding: 16px 77px;
        font-size: 18px;
        background-color: var(--button_bg_color);
        color: var(--dark_text_color);
    }
    /*************** plan ***********/
    /*************** faq ***********/
    #faqPart {
        padding: 90px 0;
        background-color: var(--white_bg_color);
    }
    .faqLeft__title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .question__summary {
        padding: 16px 90px;
    }
    /*************** faq ***********/
    /*************** footer ***********/
    #footerPart {
        padding-top: 50px;
    }
    /*************** footer ***********/
    /*============================= pricing page ==========================*/
 }